<section id="explore">
    <div class="container text-center mt-2 p-3">
        <h3>WE’VE CREATED A CAMPING EXPERIENCE THAT’S TURN-KEY AND HASSLE FREE.</h3>
        <div class="row m-2">
            <div class="col-md-6 p-3">
                <div class="card">
                    <img src="assets/images/winter1.jpg" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title text-primary">EXPERIENCE</h2>
                        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, nemo.</p>
                        <a href="#" class="btn btn-lg btn-outline-primary">SOMEWHERE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-3">
                <div class="card">
                    <img src="assets/images/exploring.jpg" class="card-img-top ">
                    <div class="card-body">
                        <h2 class="card-title text-primary">EXPLORE</h2>
                        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, nemo.</p>
                        <a href="#" class="btn btn-lg btn-outline-primary">SOMEWHERE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>