<section id="footer" class="bg-secondary">
    <ul class="nav text-center justify-content-center flex-column flex-sm-row py-4">
        <li class="nav-item ">
            <a href="" class="nav-link text-white">FAQ</a>
        </li>
        <li class="nav-item">
            <a href="#experience" class="nav-link text-white">EXPERIENCE</a>
        </li>
        <li class="nav-item">
            <a href="#explore" class="nav-link text-white">EXPLORE</a>
        </li>
        <li class="nav-item">
            <a href="#newsletter" class="nav-link text-white">CONTACT</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white" data-toggle="modal" data-target="#bookingModal">BOOK NOW</a>
        </li>

    </ul>
    <p id="copyright" class="lead text-white mb-0 pb-3 text-center">&copy; 2020 Nandi Hills Grove From Ranadheer</p>
</section>