<section id="quotes">
    <div class="container text-center mt-3">
        <h3>WHAT OUR HAPPY CAMPERS ARE SAYING</h3>
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-quote-left fa-2x text-primary my-2"></i>
                <blockquote>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                    <blockquote class="blockquote-footer">Venkatesh</blockquote>
                </blockquote>
            </div>
            <div class="col-md-4">
                <i class="fas fa-quote-left fa-2x text-primary my-2"></i>
                <blockquote>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                    <blockquote class="blockquote-footer">Ranadheer Reddy</blockquote>
                </blockquote>
            </div>
            <div class="col-md-4">
                <i class="fas fa-quote-left fa-2x text-primary my-2"></i>
                <blockquote>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                    <blockquote class="blockquote-footer">Williams</blockquote>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-7 p-3">
                <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval=4000>
                            <img src="assets/images/slider/coffee.png" class="d-block w-100">
                        </div>
                        <div class="carousel-item" data-interval=4000>
                            <img src="assets/images/slider/fire.png" class="d-block w-100">
                        </div>
                        <div class="carousel-item" data-interval=4000>
                            <img src="assets/images/slider/caribou.png" class="d-block w-100">
                        </div>
                        <div class="carousel-item" data-interval=4000>
                            <img src="assets/images/slider/trees.png" class="d-block w-100">
                        </div>
                    </div>
                    <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>
            <div class="col-lg-5 mt-3 p-3">
                <h3>CAMPING MADE COZY</h3>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi dolores voluptas sit.
                    Quia harum debitis fugit! Veritatis a vero in laborum vel, explicabo tenetur repudiandae modi at
                    dolorum architecto rem sequi suscipit maxime unde similique, est impedit vitae nihil
                    exercitationem?</p>
                <a href="#">See for Yourself <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section id="experience">
    <div class="container text-center">
        <h3>WHAT OTHERS ARE SAYING</h3>
        <h5 class="text-primary">#NANDIHILLSGROVE</h5>
        <div class="row">
            <div class="col-6 col-lg-3 mb-3">
                <img src="assets/images/gallery/social1.png" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <img src="assets/images/gallery/social2.png" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <img src="assets/images/gallery/social3.png" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <img src="assets/images/gallery/social4.png" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <img src="assets/images/gallery/social5.png" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <img src="assets/images/gallery/social6.png" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <img src="assets/images/gallery/social7.png" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <img src="assets/images/gallery/social8.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container text-center mt-4">
        <i class="fas fa-quote-left fa-2x text-primary my-2"></i>
        <blockquote>
            <p class=" lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, veniam dolorum quidem
                illo eos ipsam voluptatem officiis quas impedit fugit, maxime numquam placeat, odio ducimus vel
                voluptas assumenda architecto optio sit non aperiam harum qui. Facilis mollitia atque nostrum
                maiores.</p>
            <blockquote class="blockquote-footer">Venkatesh</blockquote>
        </blockquote>
    </div>
</section>
