<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a href="#" class="navbar-brand">
            <h3 class="mb-0">Nandi Hills Grove</h3>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#icons" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#explore" class="nav-link">Explore</a>
                </li>
                <li class="nav-item">
                    <a href="#newsletter" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#bookingModal">Book</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#signInModal">Sign In/Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <app-home></app-home>
    <app-about></app-about>
    <app-explore></app-explore>
    <app-experience></app-experience>
    <app-contact></app-contact>
    <app-book></app-book>

    <app-signing></app-signing>

    <app-footer></app-footer>
</body>

</html>