<body>
    <section id="showCase" class="d-flex justify-content-center align-items-center">
        <div id="overlay"></div>
        <div id="header" class="container text-center text-white">
            <h3 class="display-5 mb-0">MODERN CAMPING & ADVENTURE SPOT</h3>
            <h1 class="display-1">NANDI HILLS GROVE</h1>
            <p id="captionText" class="lead d-none d-md-block">One of the best Adventure and touring spot in
                Bangalore!!!</p>
            <button id="book" class="btn btn-primary px-5" data-toggle="modal" data-target="#bookingModal">BOOK
                NOW</button>
        </div>
    </section>
</body>